/*******************
 * Import Webfonts *
 ***************** */
 
/* Main serif font (text)*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
/* Main sans font (headings)*/
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
/* Font for openLilyLib logo */
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic);

body {
	font-family: "Libre Baskerville", "Minion Pro", Georgia, "Times New Roman", Times, serif;
	font-size:87.50%; /* base: 14px */
	color:#442;

	/* (en) Prevent auto-scaling of text in mobile webkit browsers */
	/* (de) Automatische Schriftvergrößerung in mobilen Webkit-Browsern vermeiden */
	-webkit-text-size-adjust:100%;
}

h1, h2, h3 {
	font-family: "Cabin", sans-serif;
}

span.field-description {
	font-family: "Cabin", sans-serif;
	font-size: 110%;
	font-style: italic;
}

span.field-content {
	/**/
}
