/* openlilylib documentation browser/generator
   This is the main stylesheet for displaying content
*/

@import url(ly.css);

div#col1 {
	float: left;
	width: 64%;
}

div#col2 {
	float: right;
	width: 34%;
	padding-left: 0.8em;
}


h1, h2, h3 {
	font-family: sans-serif;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0em;
}

h2.section {
	background-color: #203010;
	color: rgb(240, 250, 230);
	padding: 0.25em;
}

div.container {
	border: 1px solid;
	margin-bottom: 0.75em;
	background-color: rgb(240, 250, 230);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

div.container div {
	padding: 0.5em;
}

div.container div.oll-header {
	background-color: #203010;
	color: rgb(240, 250, 230);
	padding-bottom: 0.25em;
}

div#page-header {
	padding:1em;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}

pre {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


span.field-description {
	font-family: sans-serif;
	font-style: italic;
}

span.field-content {
	/**/
}
